.register{
	padding: 100px 0;
    background: #6ebd47;
    .container{
    	width: 1200px;
    	margin: 0 auto;
	    display: flex;
	    justify-content: space-around;
	    img{
	    	height: 230px;
	    }
	    .register-box{
	    	    padding: 20px;
    			background: #fff;
    			border-radius: 4px;
    		.form{
    			display: block;
    			width: 330px;
    			height: 440px;
    			background: white;
    			text-align: center;
				.choice-list{
					width: 330px;
					height: 14px;
					font-size: 14px;
					line-height: 14px;
					padding-top: 20px;
					text-align: center;
					a{
						color:#000;
						padding:0 9px;
					}
					a{
						&:hover{color:orange;};
					}
				}
				.register-user,.register-mima,.register-mima2{
					width: 290px;
					height: 36px;
    				margin-top: 30px;
    				margin-left: 20px;
    				position: relative;
    				input{
    					text-indent: 1rem;
    					width: 290px;
						height: 35px;
						line-height: 36px;
						border-radius: 4px;
						outline: none;
	    				border: 1px solid #ccc;
    				}
    				span{
    					position: absolute;
    					bottom: -15px;
    					left: 0;
    					color: red;
    					font-size: 12px;
    				}
				}	
				/*.proving-box{
					width: 290px;
					height: 36px;
    				margin-top: 30px;
    				margin-left: 20px;
    				input{
    					text-indent: 1rem;
					    width: 178px;
					    height: 36px;
					    line-height: 36px;
					    border-radius: 4px;
					    outline: none;
					    border: 1px solid #ccc;
    				}
    				button{
    					width: 100px;
    					height: 36px;
    					border: none;
    					background: #7bbe2b;
    					font-size: 14px;
    					color: white;
    					border-radius: 4px;
    				}
				}*/	
				.read-check{
    					width: 290px;
						height: 36px;
	    				margin-top: 30px;
	    				margin-left: 20px;
    			}	
    			#apply{
    				display: block;
    				width: 290px;
					height: 36px;
    				margin-top: 30px;
    				margin-left: 20px; 
    				background: orange;
    				border: none;
    				font-size: 18px;
    				color: white;
    				cursor: pointer;
    			}	
    		}
	    }
    }
}